#capture {
  padding-bottom: 2rem;
}

.captureFloat {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -90px;
}

.box {
  background-color: $blood;
  padding: 1rem 3rem;

  .headline {
    color: white;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 20px 0;
    display: inline-block;
    line-height: 1.2;
    font-style: oblique;
    text-transform: uppercase;
  }

  .cform {
    input::placeholder {
      font-size: 14px;
      color: grey;
    }

    input {
      width: 100%;
      padding: 7px 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="submit"] {
      border: none;

      @include media-breakpoint-down(sm) {
        margin: 7px 0;
      }
    }

    input[type="submit"] {
      background-color: #3a3a3a;
      cursor: pointer;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
